build/
.pytest_cache
dist/
*swp
test.out
*tmp
output
.DS_Store
venv
\~\$*
__pycache__/
*pyc
*py[cod]
unhandled\ node*
src/.*egg-info/
*egg-info/
report.txt
src/agdrvalidator/__pycache__/
pattern_app.out
demo/
AGDR_TSV_Output*
