build/
.pytest_cache
dist/
*swp
test.out
*tmp
output
.DS_Store
venv
\~\$*
__pycache__/
*pyc
*py[cod]
unhandled\ node*
*egg-info/
report.txt
pattern_app.out
demo/
demo*
AGDR_TSV_Output*
*_Output_*
*_Validation_Report_*
test/